<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256767822565-23aum8bli8rin1769lk7tapohj1meapc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256767822565-23aum8bli8rin1769lk7tapohj1meapc</string>
	<key>API_KEY</key>
	<string>AIzaSyCTa5XFxN5AA2oJ3NKjW60CU1Ap1BBnbvM</string>
	<key>GCM_SENDER_ID</key>
	<string>256767822565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srisoftwarez.shopmaintenance</string>
	<key>PROJECT_ID</key>
	<string>shop-maintenance</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-maintenance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256767822565:ios:d59f7b85957765aa85e20c</string>
</dict>
</plist>